{% extends 'base.html.twig' %}

{% block title %}Todas los Blogs{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h2>Todos los Blogs ✅</h2>
    
    <img src="https://i.ibb.co/t2ChBpW/descargar-1.png" alt="descargar-1" border="1">

    {{ include('includes/task-list.html.twig') }}
 
</div>
{% endblock %}
